.questionStatus{

        width: 100px;
        height: 100px;
}


.paginationBox{
    border-color: red;
    width: 200px;
    border: solid;
    height: 100px;

}     

.form-check{
    padding-bottom: 10px;
}

.bgbody{
    background-color: #efe9ff;
    border-color: #7748FF !important;
  }

.rightbg{
    background-color: rgb(155, 241, 155);
    border-color: black !important;
}
.wrongbg{
    background-color: #efe9ff;
    border-color:#7748FF !important;
}


.noBorder {
    background: transparent;
    border: none;
    border-bottom: 1px solid #adadad;
    outline:none;
    box-shadow:none;
  }